<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/user/data" method="post">
        <input type="number" name="songsArray" id="songsArray">
        <input type="number" name="albumsArray" id="albumsArray">
        <input type="number" name="playlistsArray" id="playlistsArray">
        <input type="submit" value="Send Data">
    </form>
</body>
</html>